* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  align-items: center;
}

body {
  background: linear-gradient(to bottom, #3f51b5, #bbdefb);
}

a {
  color: unset;
  text-decoration: none;
}

/* .gradient__bg {
  background: linear-gradient(to bottom, #3f51b5, #bbdefb);
} */

.gradient__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ddd;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 1rem 4rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 0rem 2rem;
    
  }

  .section__margin {
    margin: 2rem 2rem;
  }
}
